# MongoDB Configuration
DB_USER=
DB_PASS=
DB_CLUSTER=.mongodb.net
DB_DATABASE=

MONGO_URI=

# Application Configuration
NODE_ENV=
PORT=

# Email Configuration
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=