<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Ordem de Produções</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="/css/adminlte.min.css">
    <link rel="stylesheet" href="css/tabela.css">
</head>
  <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <div class="app-wrapper">
        <%- include('../partials/header.ejs') %>
        <%- include('../partials/sidebar.ejs') %>
            <main class="app-main">
                <div class="app-content">
                    <div class="container-fluid">
                <h1 class="mb-4 text-center">Ordem de Produções</h1>    
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" id="filtro" class="form-control" placeholder="Pesquisar ordem de produção...">
                            </div>
                            <div class="col-md-6 text-end">
                                <button class="btn btn-primary" onclick="window.location.href='/ordem-producao/adicionar-ordem-producao'">
                                    <i class="bi bi-plus-circle"></i> Adicionar Ordem de Produção
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered">
                       <thead class="table-dark">
                            <tr>
                                <th>Código</th>
                                <th>Status</th>
                                <th>Produto</th>
                                <th>Etapa Atual</th>
                                <th>Funcionário Ativo</th>
                                <th>Horário de Início</th>
                                <th>Horário de Fim</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody id="tabela-ordem-producoes">
                            <tr>
                                <td colspan="12">Carregando dados...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
        <!-- Container de Toasts -->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
      <div id="meuToast" class="toast align-items-center border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div id="toast-body" class="toast-body"></div>
          <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Fechar"></button>
        </div>
      </div>
    </div>


    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/adminlte.min.js"></script>
    <script src ="/js/toast.js"></script>
    <script src="/js/ordem-producao.js"></script>
    <script src="/js/tabela.js"></script>
</html>
