<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <div class="login-box">
      <h1>LOGIN</h1>
      <h2>BEM-VINDO DE VOLTA</h2>

      <form>
        <div class="user-box">
          <label for="txtCredencial">Credencial</label>
          <div class="input-icon">
            <i class="fas fa-user"></i>
            <input type="text" id="txtCredencial" required />
          </div>
        </div>

        <div class="user-box">
          <label for="password">Senha</label>
          <div class="input-icon">
            <i class="fas fa-lock"></i>
            <input type="password" id="password" required />
            <div class="password-toggle-icon" id="togglePassword"><i class="fas fa-eye"></i></div>
          </div>
        </div>
        
        <div class="lembrar-senha">
          <label for="lembrarSenha"><input type="checkbox" id="lembrarSenha" /> Lembrar-me</label>
          <a href="/esqueceu_senha">Esqueceu sua senha?</a>
        </div>
        <button type="submit" id="btnLogin">ENTRAR</button>
        <div class="divResposta">
          <label for="btnLogin" id="divResposta"></label>
        </div>
      </form>
    </div>
  </div>                                                            
</body>
<script src="/scriptLogin.js"></script>
</html>