<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login</title>
  <link rel="stylesheet" href="../public/style.css"/>
  <script defer src="../public/scriptLogin.js"></script>
</head>
<body>
  <div class="container">
    <div class="login-box">
      <h1>Login</h1>
      <h2>Bem-vindo de volta</h2>

      <form id="loginForm">
        <div class="user-box">
          <span><i class="fa-solid fa-user"></i></span>
          <input type="text" id="txtCredencial" required />
          <label>Credencial</label>
        </div>

        <div class="user-box">
          <span><i class="fa-solid fa-lock"></i></span>
          <input type="password" id="password" required />
          <label>Senha</label>
          <span id="togglePassword" class="password-toggle-icon">
            <i class="fas fa-eye"></i>
          </span>
        </div>

        <div class="lembrar-senha">
          <input type="checkbox" id="lembrarSenha" />
          <label for="lembrarSenha">Lembrar-me</label>
        </div>

        <div class="esqueceuSenha">
          <a href="#">Esqueceu sua senha?</a>
        </div>

        <button type="submit" id="btnLogin">ENTRAR</button>
      </form>

      <div id="divResposta"></div>
    </div>
  </div>
</body>
</html>
