@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.login-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box h1 {
  padding: 0;
  color: #333;
  text-align: center;
  text-transform: uppercase;
}
.login-box h2 {
  font-size: 12px;
  margin: 0 0 30px;
  padding: 0;
  color: #646464;
  text-align: center;
  text-transform: uppercase;
}

.user-box {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.user-box span {
  margin-right: 10px; /* Espaço entre o ícone e o input */
  font-size: 20px; /* Tamanho do ícone */
  color: #333;
}

.user-box input {
  flex: 1; /* Faz o input ocupar o restante do espaço */
  padding: 10px 0;
  font-size: 16px;
  color: #333;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  background: transparent;
  position: relative;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 30px;
  font-size: 16px;
  color: #333;
  pointer-events: none;
  transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  transform: translateY(-20px); /* Animação da label */
  font-size: 16px;
  color: #000000;
}
.user-box {
  position: relative;
  display: flex;
  align-items: center;
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  z-index: 10;  /* Garante que o ícone esteja na frente */
  padding: 5px;  /* Aumenta a área de clique */
}



/* Move o label para cima quando o input tem autocomplete */
.user-box input:-webkit-autofill ~ label,
.user-box input:-webkit-autofill:focus ~ label {
  transform: translateY(-20px); /* Animação da label */
  font-size: 16px;
  color: #000000;
}


button {
  background-color: #1a00af;
  color: #fff;
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0026ff;
  color: #fff;
  border: 1px solid #fff;
}
.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle-icon i {
  font-size: 18px;
  line-height: 1;
  color: #333;
  transition: color 0.3s ease-in-out;
  margin-bottom: 20px;
}

.password-toggle-icon i:hover {
  color: #000;
}

.esqueceuSenha{
  color: #333;
  margin: 0 0 10px;
  font-size: 12px;
  text-align: center;
}
.logo-login{
  width: 100%;
  height: 60px;
}